    <div class="contact-message">
        <h2 class="contact-title">tell us your project</h2>
        <form asp-controller="Contact" asp-action="ContactUs" method="post" class="contact-form">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <label name="Name" class="col-form-label"><span class="text-danger"></span></label>
                    <input name="Name" placeholder="Name *" type="text" required>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <label name="PhoneNumber" class="col-form-label"><span class="text-danger"></span></label>
                    <input name="PhoneNumber" placeholder="Phone *" type="text" required>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <label name="Email" class="col-form-label"><span class="text-danger"></span></label>
                    <input name="Email" placeholder="Email *" type="text" required>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <label name="Subject" class="col-form-label"><span class="text-danger"></span></label>
                    <input name="Subject" placeholder="Subject *" type="text">
                </div>
                <div class="col-12">
                    <div class="contact2-textarea text-center">
                        <label name="Message" class="col-form-label"><span class="text-danger"></span></label>
                        <textarea placeholder="Message *" name="Message" class="form-control2" required=""></textarea>
                    </div>
                    <div class="contact-btn">
                        <button class="btn" type="submit">Send Message</button>
                    </div>
                </div>
                <div class="col-12 d-flex justify-content-center">
                    <p class="form-messege"></p>
                </div>
            </div>
        </form>
    </div>